@CHARSET "UTF-8";

* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

img {
	border: 0;
}

fieldset legend {
	font-size: 12px;
}

#crudForm .form {
	width: 550px;
	float: left;
}

#crudForm .grid {
	width: 600px;
	float: left;
}

#export {
	float: right;
}

.loginMessage {
	display: inline;
	list-style: none;
	color: red;
}

.messageBox {
	padding-right: 3px;
	list-style: none;
}

.form table tbody tr td div {
	margin: 6px;
}

.form table tbody tr td div input, .form table tbody tr td div select {
	margin-left: 5px;
}


.messageBox .error span {
	color: red;
}

.messageBox .success span {
	color: green;
	
}

.rich-table tbody tr td.option {
	text-align: center;
}
